<h1>{{title}}</h1>

<div class="welcomeDiv">
  <p class="welcome">Welcome to The Library!</p>
</div>

<p class="howTo">
  To search our catalog of books, click on the "Books" link up top!
</p>
<p class="howTo">
  To see or create an upcoming event, click on the "Events" link up top!
</p>
<p class="howTo">
  To communicate with other readers, click on the "Blogs" link up top!
</p>
<p class="howTo">
  To create an account or to view/edit your account information, click on the
  profile image at the top right of the page.
</p>

<div class="happyMsgDiv">
  <p class="happyMsg">Happy Reading!</p>
</div>
