<h1>{{title}}</h1>

<form method="POST" action="/login" id="login-form">
  <div class="div-padding">
    <label for="emailAddressInput">Email</label>
    <input
      type="email"
      id="emailAddressInput"
      name="emailAddressInput"
      placeholder="Enter email..."
    />
  </div>
  <div class="div-padding">
    <label for="passwordInput">Password</label>
    <input
      type="password"
      id="passwordInput"
      name="passwordInput"
      placeholder="Enter password..."
    />
  </div>
  <div class="btnDiv">
    <button class="btnLogin" type="submit" name="submitBtn" id="submitBtn">
      Sign In
    </button>
  </div>
</form>

<p class="error" id="error">{{#if error}} {{error}} {{/if}}</p>

<a id="newUserLink" href="/register">New User? Sign up here.</a>
