<h1>{{title}}</h1>
<form method="POST" action="/login" id="login-form">
  <div class="div-padding">
    <label for="emailAddressInput">Email</label>
    <input
      type="email"
      id="emailAddressInput"
      name="emailAddressInput"
      placeholder="Enter email..."
    />
    <span class="error" , aria-live="polite"></span>
  </div>
  <div class="div-padding">
    <label for="passwordInput">Password</label>
    <input
      type="password"
      id="passwordInput"
      name="passwordInput"
      placeholder="Enter password..."
    />
    <span class="error" , aria-live="polite"></span>
  </div>
  <button class="btnLogin" type="submit" name="submitBtn" id="submitBtn">
    Sign In
  </button>
  <div class="alert">{{error}}</div>
</form>
<a id="newUserLink" href="/register">New User? Sign up here.</a>
