body {
  padding-bottom: 300px;
}

.footerData {
  background: #f8e2c9;
  color: black;
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: auto;
}

.footerData ul {
  list-style-type: none;
  height: 20px;
  line-height: 40px;
  padding: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.footerData ul li.nav {
  flex: auto;
  justify-content: center;
  text-align: center;
}

.footerData ul li.nav a {
  color: black;
}

.footerData ul li.nav:not(#logoutNavFooter) {
  border: 1px solid black;
  border-width: 0 1px 0 0;
}

.footerData ul li.nav a {
  display: block;
  padding: 0 10px;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
}

.footerData ul li.nav:hover {
  background: #d8dcff;
  cursor: pointer;
}
