h1 {
  font-size: 25px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.bookInfo {
  font-weight: bold;
  font-size: 13px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.error,
.alert {
  text-align: center;
  color: red;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.div-padding {
  text-align: center;
}

.div-padding .label {
  font-weight: bold;
  font-size: 13px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a.search::before {
  content: "\A";
  white-space: pre;
}

a {
  display: block;
  text-align: center;
  font-size: 17px;
}

a.toEventDetails,
a.toBlogDetails,
a.toBookDetails {
  text-align: left;
  font-size: 20px;
}

.btnDiv {
  text-align: center;
}

.newEventLink,
.newBlogLink {
  text-align: left;
}

.welcomeDiv {
  text-align: right;
}

.welcome {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
}

.howTo {
  text-align: center;
  font-size: 18px;
}

.happyMsg {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  border: 3px solid #f1f1f1;
}

/* .show-form {
  display: block;
  border: 3px solid #f1f1f1;
} */

.form-container {
  max-width: 200px;
  padding: 3px;
  background-color: white;
}

.hidden {
  display: block;
}
